.node {
    width: 22px;
    height: 22px;
    outline: 0.7px solid rgb(122, 160, 179);
    display: inline-block;
    margin: 0px 0px 0px 0px;
  }
  
  .node-finish {
    width: 2px;
    height: 2px;
    border-top: 5px solid transparent;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-bottom: 20px solid black;
    
    
  }
  
  .node-start {
    background: black;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    padding: 12px;
  }
  
  
  .node-visited {
    animation-name: visitedAnimation;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
  }
  
  @keyframes visitedAnimation {
    0% {
      transform: scale(0.3);
      background-color: rgba(0, 0, 66, 0.75);
      border-radius: 100%;
    }
  
    50% {
      background-color: rgba(17, 104, 217, 0.75);
    }
  
    75% {
      transform: scale(1.2);
      background-color: rgba(0, 217, 159, 0.75);
    }
  
    100% {
      transform: scale(1);
      background-color: rgba(0, 190, 218, 0.75);
    }
  }
  
  .node-wall {
    background-color: rgb(10, 13, 14);
  }
  
  .node-shortest-path {
    animation-name: shortestPath;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
  }
  
  @keyframes shortestPath {
    0% {
      transform: scale(0.6);
      background-color: rgb(240, 240, 201);
    }
  
    50% {
      transform: scale(1.2);
      background-color: rgb(112, 112, 73);
    }
  
    100% {
      transform: scale(1);
      background-color: rgb(255, 254, 106);
    }
  }